<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample1</title>
</head>
<body>
    <center>
        <h1 style="color: aqua; font-size: xx-large; ">encapsulation is the process of bynding of data members and functonalities in a single unit is known as encapsulation</h1>
        <h2 style="color: bisque;">in this process we make data members private in order to avoid accedental modifications from un authorised users</h2>
        <h1 style="color: chartreuse;">we declear data member private by adding double underscor prefix to the data member</h1>
    </center>
</body>
</html>